@import '../variables.scss';

#pokestores {
  background: url('../../images/background.png') center center fixed;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    align-self: center;
    margin-top: 30px;

    img {
      width: 33vw;
      max-width: 700px;
    }

    h2 {
      text-align: right;
      font-size: 14px;
      margin: -15px 20px auto auto;
      max-width: 330px;
    }
  }

  .cards-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  footer {
    margin: 30px auto 0 60px;
    display: flex;
    align-items: flex-end;

    img { width: 150px }
    span { 
      font-size: 14px;
      color: $black;
    }
  }

  @media all and (max-width: 990px) {
    height: 1650px;

    header {
      h2 { font-size: 2.5vw }
      img { 
        width: 100%;
        margin-bottom: 10px;
      }
    }

    footer {
      margin-left: 10px;
    }
    .cards-list { flex-direction: column }
  }
}